@use "../../../../../styles/mixins/mixins-media" as *;

.delete-dialog {
  &__content {
    padding-top: 4px;
  }


  &__actions {
    margin: 0;
    gap: 8px;
    padding: 16px 24px 24px;
  }
}

@include sm {
  .delete-dialog {
    &__actions {
      flex-direction: column-reverse;
      align-items: stretch;
      padding: 16px 24px 24px;

      button {
        width: 100%;
      }
    }
  }
}
