<mat-toolbar class="hero-toolbar" color="primary">
  <div class="hero-left">
    <div class="hero-title">ElectroCatalog</div>
    <div class="hero-subtitle">Демо-каталог электроники на Angular Material</div>
  </div>

  <span class="spacer"></span>

  <button (click)="openDialog()" [disabled]="isSaving()" mat-flat-button type="button">
    <mat-icon>add</mat-icon>
    Добавить товар
  </button>
</mat-toolbar>


<section class="content-shell">
  <mat-card class="content-card">
    <div class="content-header">
      <h2>Каталог товаров</h2>
    </div>

    <app-products-table
      (delete)="onDelete($event)"
      (edit)="onEdit($event)"
      [displayedColumns]="displayedColumns"
      [products]="products()"
    ></app-products-table>

  </mat-card>
</section>
