<mat-toolbar class="hero-toolbar" color="primary">
  <div class="hero-left">
    <div class="hero-title">ElectroCatalog</div>
    <div class="hero-subtitle">Демо-каталог электроники на Angular Material</div>
  </div>

  <span class="spacer"></span>

  <button (click)="openDialog()" color="accent" mat-flat-button type="button">
    <mat-icon>add</mat-icon>
    Добавить товар
  </button>
</mat-toolbar>


<section class="content-shell">
  <mat-card class="content-card">
    <div class="content-header">
      <h2>Каталог товаров</h2>
    </div>

    <div class="placeholder">
      <mat-icon>inventory_2</mat-icon>
      <span>Товары появятся здесь после подключения Firestore и формы сохранения</span>
    </div>
  </mat-card>
</section>
