<h2 class="product-dialog__title" mat-dialog-title>
  {{ isEditMode ? 'Редактировать товар' : 'Добавить товар' }}
</h2>

<mat-dialog-content class="product-dialog__content">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="product-dialog__form" id="product-dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Наименование товара</mat-label>
      <input formControlName="name" matInput/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Категория товара</mat-label>
      <mat-select formControlName="category" placeholder="Выберите категорию товара">
        @for (category of categories; track category.value) {
          <mat-option [value]="category.value">{{ category.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Выберите дату</mat-label>
      <input [matDatepicker]="picker" formControlName="startDate" matInput/>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="product-dialog__radio-wrap">
      <p class="product-dialog__radio-label">Состояние товара:</p>
      <mat-radio-group class="product-dialog__radio-group" formControlName="condition">
        @for (condition of productConditions; track condition) {
          <mat-radio-button [value]="condition">{{ condition }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Цена, ₴</mat-label>
      <input formControlName="price" matInput required type="number"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Дополнительно</mat-label>
      <textarea
        cdkAutosizeMaxRows="5"
        cdkAutosizeMinRows="1"
        cdkTextareaAutosize
        formControlName="description"
        matInput
        placeholder="Описание товара..."
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="product-dialog__actions">
  <button mat-dialog-close mat-stroked-button type="button">Отменить</button>
  <button
    [disabled]="form.invalid"
    color="primary"
    form="product-dialog-form"
    mat-flat-button
    type="submit"
  >
    {{ submitButtonLabel }}
  </button>
</mat-dialog-actions>
